@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");
@import "tailwindcss";
@theme {
  --font-header: "Aboreto", system-ui;
  --font-content: "Kulim Park", sans-serif;

  --color-primary: #00d3ea;
  --color-primary-dark: #0092a3;
  --color-primary-dark-900: #005A64;
  --color-secondary: #ea1700;
  --color-secondary-dark: #a31100;
  --color-black: #102224;
  --color-white: #dfeff1;
}

/* OTHER CSS PROPERTIES */
.custom-glow-shadow {
  box-shadow: 0px 0px 64px 0px #00d3ea;
}

.custom-glow-shadow-lg {
  box-shadow: 0px 0px 12px 0px #00d3ea;
}

.custom-glow-shadow-sm {
  box-shadow: 0px 0px 8px 0px #00d3ea60;
}

.custom-glow-shadow-sm-red {
  box-shadow: 0px 0px 8px 0px #ea1700;
}

.custom-glow-shadow-sm-white {
  box-shadow: 0px 0px 8px 0px #dfeff1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* --animate-float-in-out: floatInOut 2.5s ease-in-out infinite;
  
    @keyframes floatInOut {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      20% {
        opacity: 1;
        transform: translateY(0);
      }
      90% {
        opacity: 1;
        transform: translateY(0);
      }
      100% {
        opacity: 0;
        transform: translateY(-20px);
      }
    } */
